version: "3"

services:
  website:
    image: klakegg/hugo:0.111.3-ext-ubuntu
    restart: on-failure
    entrypoint: /bin/bash -c "mkdir -p /tmp/.npm && chown -R 1000:1000 /tmp/.npm && npm install --no-bin-links && scripts/gen-doc-versions.sh && hugo server --config config.toml,config/_generated_versions.toml,config/_ci_override.toml --poll 1s"
    volumes:
      - .:/src
    ports:
      - "1313:1313"
  reverse-proxy:
    image: nginx:alpine
    restart: on-failure
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx-dev.conf:/etc/nginx/nginx.conf:ro