version: "3.3"

services:

  site:
    image: klakegg/hugo:0.111.3-ext-ubuntu
    entrypoint: /bin/bash -c "mkdir -p /tmp/.npm && chown -R 1000:1000 /tmp/.npm && npm install --no-bin-links && hugo server --poll 1s"
    ports:
      - "1313:1313"
    volumes:
      - .:/src
